In [1]:
import pymongo

In [2]:
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn["mydatabase"]
col=db["Exp22"]

In [9]:
value=[{"Name":"nandana","Age":18,"Place":"kANNUR"},
       {"Name":"William","Age":10,"Place":"Ernakulam"},
       {"Name":"Shibin","Age":18,"Place":"Thrissur"}]
col.insert_many(value)

InsertManyResult([ObjectId('67e22c9a2a1e788e8edc91c7'), ObjectId('67e22c9a2a1e788e8edc91c8'), ObjectId('67e22c9a2a1e788e8edc91c9')], acknowledged=True)

In [ ]:
a=col.find({"Age":18,"place":"Thrissur"})
for i in a:
    print(i)

{'_id': ObjectId('67e22c9a2a1e788e8edc91c7'), 'Name': 'nandana', 'Age': 18, 'Place': 'kANNUR'}
{'_id': ObjectId('67e22c9a2a1e788e8edc91c9'), 'Name': 'Shibin', 'Age': 18, 'Place': 'Thrissur'}

In [16]:
a=col.find({"$or":[{"Age":18},
                   {"Place":"Thrissur"}]})
for i in a:
    print(i)

{'_id': ObjectId('67e22c9a2a1e788e8edc91c7'), 'Name': 'nandana', 'Age': 18, 'Place': 'kANNUR'}
{'_id': ObjectId('67e22c9a2a1e788e8edc91c9'), 'Name': 'Shibin', 'Age': 18, 'Place': 'Thrissur'}

In [21]:
cond={"Age":18}
newvalue={"$set":{"Place":"Trivandrum"}}
col.update_one(cond,newvalue)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [23]:
col.delete_many({"Age":10})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [29]:
var=col.find({"Age":{"$gte":17}},{"_id":0,"Name":1})
for i in var:
    print(i)

{'Name': 'nandana'}
{'Name': 'Shibin'}

In [33]:
var=col.find({"Name":{"$regex":"a$"}},{"_id":0})
for i in var:
    print(i)

{'Name': 'nandana', 'Age': 18, 'Place': 'Trivandrum'}

In [34]:
value={"Name":"William","Age":10,"Place":"Eranakulam"}
col.insert_one(value)

InsertOneResult(ObjectId('67e238a12a1e788e8edc91ca'), acknowledged=True)

In [35]:
cond={"Name":"Shibin"}
newvalue={"$set":{"Place":"Trivandrum"}}
col.update_one(cond,newvalue)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)