In [3]:
import pymongo

In [4]:
conn=pymongo.MongoClient("mongodb://localhost:27017/")
db=conn["Exp3"]
col=db["Details"]

In [6]:
value = [
        {"first_name":"Nandana","last_name":"Narayan","place":"Kannur","gender":"Female","dept":"MCA","mark":67,"grade":"C"},
        {"first_name":"John William","last_name":"Santhosh","place":"Ernakulam","gender":"Male","dept":"MCA","mark":99,"grade":"S"},
        {"first_name":"Shibin","last_name":"Manoj","place":"Kannur","gender":"Male","dept":"Mech","mark":98,"grade":"S"},
        {"first_name":"Hanna","last_name":"Roy","place":"Idukki","gender":"Female","dept":"Civil","mark":55,"grade":"D"},
        {"first_name":"Chaithanya","last_name":"Subran","place":"Thrissur","gender":"Female","dept":"MCA","mark":89,"grade":"A"},
        {"first_name":"Bharadwaj","last_name":"Theruvath","place":"Malapuram","gender":"Male","dept":"Mech","mark":72,"grade":"B"}
        ]
col.insert_many(value)

InsertManyResult([ObjectId('67e2751937588d99c5d3345a'), ObjectId('67e2751937588d99c5d3345b'), ObjectId('67e2751937588d99c5d3345c'), ObjectId('67e2751937588d99c5d3345d'), ObjectId('67e2751937588d99c5d3345e'), ObjectId('67e2751937588d99c5d3345f')], acknowledged=True)

In [7]:
a=col.find({"gender":"Female"},{"_id":0,"first_name":1,"last_name":1,"mark":1})
for i in a:
    print(i)

{'first_name': 'Nandana', 'last_name': 'Narayan', 'mark': 67}
{'first_name': 'Hanna', 'last_name': 'Roy', 'mark': 55}
{'first_name': 'Chaithanya', 'last_name': 'Subran', 'mark': 89}
{'first_name': 'Nandana', 'last_name': 'Narayan', 'mark': 67}
{'first_name': 'Hanna', 'last_name': 'Roy', 'mark': 55}
{'first_name': 'Chaithanya', 'last_name': 'Subran', 'mark': 89}
{'first_name': 'Nandana', 'last_name': 'Narayan', 'mark': 67}
{'first_name': 'Hanna', 'last_name': 'Roy', 'mark': 55}
{'first_name': 'Chaithanya', 'last_name': 'Subran', 'mark': 89}

In [8]:
for a in col.find({"dept":"MCA"},{"_id":0}).sort({"mark":-1}).limit(1):
    print(a)

{'first_name': 'John William', 'last_name': 'Santhosh', 'place': 'Ernakulam', 'gender': 'Male', 'dept': 'MCA', 'mark': 99, 'grade': 'S'}

In [16]:
a=col.find({"gender":"Male","grade":"S"},{"_id":0,"first_name":1,"last_name":1})
for i in a:
    print(i)

{'first_name': 'John William', 'last_name': 'Santhosh'}
{'first_name': 'Shibin', 'last_name': 'Manoj'}

In [17]:
a=col.find({"dept":"Mech"},{"_id":0,"first_name":1,"last_name":1}).sort({"mark":-1}).limit(5)
for i in a:
    print(i)

{'first_name': 'Shibin', 'last_name': 'Manoj'}
{'first_name': 'Bharadwaj', 'last_name': 'Theruvath'}

In [18]:
a=col.find({"gender":"Male","mark":{"$gt":90}},{"_id":0,"first_name":1,"last_name":1})
for i in a:
    print(i)

{'first_name': 'John William', 'last_name': 'Santhosh'}
{'first_name': 'Shibin', 'last_name': 'Manoj'}

In [20]:
a=col.find({"mark":{"$gt":80,"$lt":90}},{"_id":0,"first_name":1,"last_name":1})
for i in a:
    print(i)

{'first_name': 'Chaithanya', 'last_name': 'Subran'}

In [22]:
a=col.find({"first_name":{"$regex":"^N"}},{"_id":0,"first_name":1,"last_name":1})
for i in a:
    print(i)

{'first_name': 'Nandana', 'last_name': 'Narayan'}

In [24]:
a=col.find({"place":"Kannur"},{"_id":0,"first_name":1,"last_name":1})
for i in a:
    print(i)

{'first_name': 'Nandana', 'last_name': 'Narayan'}
{'first_name': 'Shibin', 'last_name': 'Manoj'}

In [26]:
a=col.find({"place":{"$nin":["Kannur","Ernakulam"]}},{"_id":0,"first_name":1,"last_name":1})
for i in a:
    print(i)

{'first_name': 'Hanna', 'last_name': 'Roy'}
{'first_name': 'Chaithanya', 'last_name': 'Subran'}
{'first_name': 'Bharadwaj', 'last_name': 'Theruvath'}